<body style="background-color: #f5f5f5;font-family:sans-serif;">
    <div id="container" style="max-width:600px; margin:auto; border: 1px solid #dfdfdf;">
        <div id="header" style="background-color:#ffc107;">
            <h3 style="color:#ffffff; text-align:center; padding-top:10px; padding-bottom:10px; margin:0px;">{{subject}}</h3>
        </div>
        <div id="body" style="background-color:#ffffff; padding:10px;">
            {{message-body}}
            <div style="border-width:1px; border-style: solid; border-color:#ffeeba; background-color:#fff3cd; color:#856404; margin-top:40px;">
                <p style="font-size:10px; text-align:justify;padding-left:10px;padding-right:10px;">
                    "Esta mensagem e seus anexos contêm informações confidenciais e são protegidas pelo sigilo legal. Se você não
                    for destinatário desta mensagem, deste já fica notificado (a) para que se abstenha de divulgar, copiar, distribuir
                    ou de qualquer forma, utilizar a informação contida nesta mensagem, devendo promover a exclusão deste
                    contéudo em sua base de dados, registros ou sistema de controle, ficando sujeito às responsabilidades legais."
                </p>
            </div>
        </div>
    </div>

    <div style="max-width:600px; margin: 20px auto; font-size:12px;">
        <center>
            <b>E-mail automático, por favor não responda.</b>
        </center>
    </div>
</body>
