<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <!--Conexão de Produção-->
    <add name="dbMadya" connectionString="DataSource=192.168.20.17;User=sysdba;Password=masterkey;Database=C:\Madya\Base\Edelweiss.FDB" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="dbMacroscopia" connectionString="DataSource=192.168.20.17;User=sysdba;Password=masterkey;Database=C:\Madya\Base\Macroscopia.fdb" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="dbRastreabilidade" connectionString="Data Source=srv-sql-02.eadm.local;Initial catalog=EDW_Rastreabilidade; User ID=u_rastreabilidade; Password=rastreabilidade;" />
    <add name="dbDiagnosticoWeb" connectionString="Data Source=srv-sql-02.eadm.local;Initial catalog=Diagnostico;User ID=lab0;Password=lab0@edel;" />
    <add name="dbLabEdelweiss" connectionString="Data Source=srv-sql-02.eadm.local;Initial catalog=LabEdelweiss;User ID=lab0;Password=lab0@edel;" />
  </connectionStrings>

  <appSettings>
    <!--Configurações para log-->
    <add key="APP_LOG_FILE_PATH" value="C:\Edelweiss\AgendaCongelacao\Logs" />

    <!--Configurações para e-mail-->
    <add key="SMTP_HOST" value="ad-02-edelweiss.eadm.local" />
    <add key="SMTP_PORT" value="25" />
    <add key="SMTP_USER" value="nao-responda@edelweiss.com.br" />
    <add key="SMTP_PASS" value="NBsJgjEOCUXscWU6vXSw" />
    <add key="FROM" value="nao-responda@edelweiss.com.br" />
    <add key="TO" value="misael.homem@edelweiss.com.br" />
    <add key="USE_DEFAULT_CREDENTIALS" value="false" />
    <add key="SMTP_ENABLE_SSL" value="false" />
    <!--Configurações para SMS-->
    <add key="ENVIAR_SMS" value="false" />
    
  </appSettings>
</configuration>